streamlit
pandas
numpy
groq
langchain_community
langchain_groq
yfinance
plotly
langchain_core
nbformat>=4.2.0
ipython
kaleido
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability