--pre
--find-links https://mlc.ai/wheels
mlc-llm-nightly
mlc-ai-nightly
attrs
decorator
numpy
psutil
pydantic
requests
scipy
setuptools
torch
tqdm
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability